<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>Nhà hàng</h4>
        <ul>
          <li><a href="#">Giới thiệu</a></li>
          <li><a href="#">Dịch vụ</a></li>
          <li><a href="#">Chính sách riêng tư</a></li>
          <li><a href="#">Chương trình liên kết</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Thực đơn</h4>
        <ul>
          <li><a href="#">Món chiên</a></li>
          <li><a href="#">Món xào</a></li>
          <li><a href="#">Món cà ri</a></li>
          <li><a href="#">Món chay</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
